img {
  max-height: 100px;
  max-width: 100px;
}

// grid container for gridlist
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.card-spacer {
  margin-bottom: 3%;
}

img:hover {
  cursor: pointer;
  transform: scale(1.2);

  transition: transform .3s;
}

h1 {
  font-size: 2rem;

  font-weight: 500;
}
