
.splash {
  height: 100%;
  background-image: url('../../../assets/canyon-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

mat-card {
  // outline: 2px dashed blue;
  top: 35%;
  color: black;
  position: relative;
  text-align: center;
  background-color: transparent;
}

mat-card-subtitle {
  padding-top: 2%;
  color:grey;
  font-weight: bold;
}

// Icon animation
mat-icon {
  font-size: 40px;
  animation-name: icon;
  animation-iteration-count: infinite;
  animation-duration: .8s;
  animation-direction: alternate;
}

@keyframes icon {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}


.hero {
  position: relative;
  width: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../../assets/canyon-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(50%);
}

.hero-content {
  position: relative;
  // font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
}
