mat-card {
  height: 100%;
  color: black;
  margin-top: -30%;
  border-radius: 2%;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

mat-card-subtitle {
  color: grey;
}

.contain {
  display: flex;
  margin-top: -15%;
  height: 500px;
}

.card-spacer {
  margin-bottom: 5%;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
}
