<app-splash></app-splash>

<div class="container">
  <mat-card class="mat-elevation-z15 text-center">

    Card Title
    <mat-card-title>
      Companies Shape Who We Are
    </mat-card-title>
    <mat-card-subtitle>
      Proud to have taken the opportunity to have taken part in contributing to the growth of these companies and grow alongside them.
    </mat-card-subtitle>

    Content
    <mat-card-content>
      <app-companies></app-companies>
      <div class="card-spacer"></div>
      <app-about-me></app-about-me>
      <div class="card-spacer"></div>

      <app-skills></app-skills>
    </mat-card-content>

  </mat-card>
</div>
<br>

<app-scroll-top></app-scroll-top>
