
.container-child {
  margin: 1%;

  // card animation
  transition: transform .3s;
}

// fluid image for companies
.img-fluid {
  max-width: 500px;
  width: 100%;
}

.container-child:hover {
  cursor: pointer;
  transform: scale(1.1);
}

