
<div class="contain">
  <img class="avatar mat-elevation-z20" src="/assets/avatar.png" />
  <div style="padding-left: 1%;">
    <h1>About Me</h1>
    <h2>Hi! Welcome to my portfolio. Here you'll be able to find some of my work or side projects showcased above. I'm originally born in Iowa, however I moved to sunny San Diego at a young age! On my free time I love learning new technologies that will either improve my quality of life or my friends and peers. Recently, I have setup a single node Kubernetes cluster run on rancher hosting a minecraft server running on a local Intel NUC PC for my friends to play on instead of before which was run on a google cloud compute instance. Among gaming I love the financial industry and I am looking into the near future to breaking into Fintech companies and growing alongside them.</h2>
  </div>
</div>
