// flexbox container
.contain {
  display: flex;
  color: white;
  flex-direction: row;
  // outline: 2px dashed blue;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
  background-image: url("../../../assets/vectors/about-me-bg-edit.png");
}

img {
  max-width: 100%;
  height: auto;
}


// Removes removes images for container when it gets too small
@media screen and (max-width: 770px) {
  img {display: none}
}
